.container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-large);
  padding: var(--padding-large);
  min-width: 100px;
  background: var(--background-color-second);
  border-radius: 10px;
  box-shadow: var(--box-shadow-main);
  color: var(--text-color-main);
}

.title {
  margin-bottom: var(--margin-large);
  color: var(--text-color-main);
  font-size: var(--text-size-large);
  font-weight: 700;
}

.text {
  color: var(--text-color-second);
  font-size: var(--text-size-large);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  width: 10px;
  height: 10px;
  background: url('assets/close.svg') no-repeat center;
  background-size: 100%;
}

.close img {
  width: 100%;
}
