.container {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-small);
  border-radius: 10px;
  background: var(--background-color-second);
  box-shadow: var(--box-shadow-main);
}

.button {
  flex: 1;
  margin-right: var(--margin-small);
  height: 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow-main);
  color: var(--text-color-main);
  font-size: var(--text-size-large);
}

.button:last-child {
  margin-right: 0;
}

.button:active {
  opacity: .5;
}

.play {
  background: var(--background-color-ok);
}

.reset {
  background: var(--background-color-error);
}
