.container {
  padding: var(--padding-small);
  border-radius: 10px;
  background: var(--background-color-second);
  box-shadow: var(--box-shadow-main);
  color: var(--text-color-second);
  font-size: var(--text-size-medium);
}

.container h2 {
  margin-bottom: var(--margin-small);
  color: var(--text-color-main);
  font-size: var(--text-size-large);
  font-weight: 900;
}

.tableWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 150px;
  background: var(--background-color-main);
  border-radius: 5px;
  overflow-y: auto;
}

.table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

.table th, .table td {
  height: 20px;
  background: var(--background-color-main);
  border-left: var(--border-second);
  border-bottom: var(--border-second);
  overflow: hidden;
}

.table th:first-child, .table td:first-child {
  min-width: 10px;
  width: 10px;
  border-left: none;
}

.table th:nth-child(2), .table td:nth-child(2) {
  width: auto;
}

.table th:nth-child(3), .table td:nth-child(3) {
  min-width: 18px;
  width: 18px;
}

.table th:last-child, .table td:last-child {
  min-width: 26px;
  width: 26px;
}

.table thead th {
  position: sticky;
  top: 0;
  font-weight: 700;
}

.table tbody th, .table tbody td {
  font-weight: 300;
  text-align: center;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: var(--background-color-main);
  font-weight: 300;
}

@media screen and (min-width: 992px) {
  .tableWrapper {
    height: 200px;
  }

  .table th, .table td {
    height: 30px;
    overflow: hidden;
  }
  
  .table th:first-child, .table td:first-child {
    min-width: 25px;
    width: 25px;
    border-left: none;
  }
  
  .table th:nth-child(2), .table td:nth-child(2) {
    width: auto;
  }
  
  .table th:nth-child(3), .table td:nth-child(3) {
    min-width: 40px;
    width: 40px;
  }
  
  .table th:last-child, .table td:last-child {
    min-width: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 1400px) {
  .tableWrapper {
    height: 300px;
  }

  .table th, .table td {
    height: 40px;
    overflow: hidden;
  }
  
  .table th:first-child, .table td:first-child {
    min-width: 40px;
    width: 40px;
    border-left: none;
  }
  
  .table th:nth-child(2), .table td:nth-child(2) {
    width: auto;
  }
  
  .table th:nth-child(3), .table td:nth-child(3) {
    min-width: 60px;
    width: 60px;
  }
  
  .table th:last-child, .table td:last-child {
    min-width: 60px;
    width: 60px;
  }
}
