.container {
  display: flex;
}

.gridWrapper {
  display: flex;
}

.grid {
  padding: 15px;
}

.board {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 15px;
  width: 400px;
}

.board > * {
  margin-bottom: 15px;
}

.board > *:last-child {
  margin-bottom: 0;
}
