.wrapper {
  display: flex;
  align-items: center;
  padding: var(--padding-large);
  height: 100%;
}

.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.gridWrapper {
  display: flex;
  margin-right: var(--margin-large);
}

.grid {
  margin-right: var(--margin-large);
  padding: 0 12px 12px 0;
  background: var(--background-color-second);
  border-radius: 15px;
  box-shadow: var(--box-shadow-main);
}

.grid:last-child {
  margin-right: 0;
}

.board {
  display: flex;
  flex-direction: column;
}

.board > * {
  margin-bottom: var(--margin-large);
}

.board > *:last-child {
  margin-bottom: 0;
}
