:root {
  --cell-size: 50px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cell {
  display: flex;
  padding: 0;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  border-radius: 5px;
}

.cell:active {
  opacity: .5;
}

.empty {
  background: turquoise;
}

.ship {
  background: darkgrey;
}

.unkown {
  background: slategrey;
}
