.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table caption {
  font-size: var(--text-size-exlarge);
  font-weight: 700;
}

.table th {
  font-size: var(--text-size-large);
}

.table td {
  padding: 0;
  border: var(--border-main);
}

.cell {
  display: flex;
  padding: 0;
  width: var(--cell-size);
  height: var(--cell-size);
}

.cell:active {
  opacity: .5;
}

.empty {
  background: turquoise;
}

.ship {
  background: darkgrey;
}

.unkown {
  background: slategrey;
}

.miss {
  background: pink;
}

.hit {
  background: red;
}

.scip {
  border: none !important;
  background: none;
}

@media screen and (max-width: 992px) {
  .table caption {
    display: none;
  }
}
