:root {
  --cell-size: 50px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table caption {
  font-size: 32px;
  font-weight: 700;
}

.table th {
  font-size: 24px;
}

.table td {
  padding: 0;
  border: 1px solid black;
}

.cell {
  display: flex;
  padding: 0;
  width: var(--cell-size);
  height: var(--cell-size);
}

.cell:active {
  opacity: .5;
}

.empty {
  background: turquoise;
}

.ship {
  background: darkgrey;
}

.unkown {
  background: slategrey;
}

.miss {
  background: pink;
}

.hit {
  background: red;
}

.scip {
  border: none !important;
  background: none;
}
