:root {
  --cell-size: 20px;
  --cell-color-water: #F2F7FB;
  --cell-color-ship: #D1CBC6;
  --grid-text-size: 12px;
  --background-color-main: #F7FFF7;
  --background-color-second: #4ECDC4;
  --background-color-third: #E5EDE5;
  --background-color-error: #FF6B6B;
  --background-color-ok: #7EEC7E;
  --border-main: 1px solid #404040;
  --border-second: 1px solid #606060;
  --text-color-main: #404040;
  --text-color-second: #606060;
  --text-color-error: #FF6B6B;
  --text-color-ok: #005E00;
  --text-size-exlarge: 24px;
  --text-size-large: 10px;
  --text-size-medium: 8px;
  --box-shadow-main: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-right: 50px;
  width: 100vw;
  height: 100vh;
  background: var(--background-color-main);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  html {
    position: absolute;
    top: 100%;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: left top;
    overflow-x: hidden;
  }
  body {
    width: 100vh;
    height: 100vw;
  }
}
