:root {
  --cell-size: 50px;
  --background-color-main: #F7FFF7;
  --background-color-second: #4ECDC4;
  --background-color-third: #E5EDE5;
  --background-color-error: #FF6B6B;
  --background-color-ok: #7EEC7E;
  --border-main: 1px solid #404040;
  --border-second: 1px solid #606060;
  --text-color-main: #404040;
  --text-color-second: #606060;
  --text-color-error: #FF6B6B;
  --text-color-ok: #005E00;
  --text-size-exlarge: 32px;
  --text-size-large: 24px;
  --text-size-medium: 18px;
  --box-shadow-main: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 991px) {
  :root {
    --cell-size: 25px;
    --text-size-exlarge: 24px;
    --text-size-large: 18px;
    --text-size-medium: 12px;
  }
}

@media screen and (max-width: 575px) {
  :root {
    --cell-size: 20px;
    --text-size-exlarge: 24px;
    --text-size-large: 16px;
  }
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background-color-main);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
