.container {
  padding: var(--padding-small);
  border-radius: 10px;
  background: var(--background-color-second);
  box-shadow: var(--box-shadow-main);
  color: var(--text-color-second);
  font-size: var(--text-size-medium);
}

.container h2 {
  margin-bottom: var(--margin-small);
  color: var(--text-color-main);
  font-size: var(--text-size-large);
  font-weight: 900;
}

.list {
  background: var(--background-color-main);
  padding: var(--padding-small);
  border-radius: 5px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15px;
  border-bottom: var(--border-main);
}

.item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.error {
  color: var(--text-color-error);
}

.ok {
  color: var(--text-color-ok);
}

@media screen and (min-width: 992px) {
  .item {
    height: 40px;
  }
}
